# dependencies
node_modules

# next.js
.next
out

# typescript 增量编译缓存
*.tsbuildinfo

# production
build

# env files
.env*
!.env.example

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local IDE
.idea
.vscode

# claude code local settings
.claude/settings.local.json
